body {
    background-color: #000;
    color: #fff;
    font-family: Calluna-Regular;
    background-size: cover;
    background-position: center;
}

body.no-js {
    background-image: url(wallpapers/monument.jpg);
}

main {
    display: block;
}

main a {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

main .main-content {
    position: relative;
    top: 50%;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    line-height: 1.45;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body.no-js main .main-content {
    margin-top: 50px;
}

body.has-js main .main-content {
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

main .main-content p {
    margin: 0;
    padding: 0;
}

main .main-content p.buttons {
    letter-spacing: 0.5em;
}
