<!doctype html>
<html>
    <head>
        <title>David Padbury</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel=stylesheet href="css/main.css?{{hashes.[css/main.css]}}" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id=cover style="background-image: url('wallpapers/{{wallpaper}}?{{lookup hashes (concat 'wallpapers/' wallpaper)}}');"></div>
        <script>
            (function() {
                function once(fn) {
                    var called = false;

                    return function() {
                        if (!called) {
                            called = true;
                            var args = Array.prototype.slice.call(arguments);
                            fn.apply(this, args);
                        }
                    };
                }

                var onTransitionEnd = (function() {
                    var el = document.createElement('div');
                    var eventName;

                    if (typeof el.style.transition !== undefined) {
                        eventName = 'transitionend';
                    } else if (typeof el.style.webkitTransition !== undefined) {
                        eventName = 'webkitTransitionEnd';
                    }

                    return function(el, fn) {
                        if (eventName) {
                            el.addEventListener(eventName, fn);
                        } else {
                            fn.apply(el);
                        }
                    };
                })();

                var cover = document.getElementById('cover');
                var coverStyle = cover.style;
                var backgroundImage = coverStyle.backgroundImage;

                coverStyle.backgroundImage = '';
                coverStyle.opacity = 0;

                var imagePath = /\(([^\)]+)\)/.exec(backgroundImage)[1];

                var progressBar = document.createElement('div');
                progressBar.id = 'progress';
                document.body.appendChild(progressBar);

                var xhr = new XMLHttpRequest();

                xhr.onprogress = (function() { 
                    var lastProgress = -1;
                    return function(e) {
                        if (!e.lengthComputable) return;

                        var loaded = e.loaded;
                        var total = e.total;
                        var progress = loaded/total;

                        if (progress > lastProgress) {
                            //progressBar.style.transform = 'scaleX(' + progress + ')';
                            progressBar.style.width = (progress * 100) + '%';
                            lastProgress = progress;
                        }
                    };
                })();

                xhr.onload = function() {
                    onTransitionEnd(progressBar, once(function(e) {
                        progressBar.className = 'done';
                        progressBar.style.transform = '';

                        onTransitionEnd(progressBar, once(function() {
                            progressBar.remove();
                        }));
                    }));

                    coverStyle.backgroundImage = backgroundImage;
                    coverStyle.opacity = 1;
                    xhr = null;
                };

                xhr.open('GET', imagePath, true);
                xhr.send();
            })();
        </script>
        <main>
            <div class=main-content>
                <p><a href="http://davidpadbury.com">David Padbury</a></p>
                <p class=buttons>
                    <a href="https://twitter.com/davidpadbury"><i class="icon-twitter"></i></a>
                    <a href="https://www.linkedin.com/pub/david-padbury/4/437/656"><i class="icon-linkedin"></i></a>
                    <a href="https://github.com/davidpadbury"><i class="icon-github-circled"></i></a>
                </p>
            </div>
        </main>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-21694597-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
